# Ignore everything by default
*

# Safety specific ignores
**/secrets*
**/*.key
**/*.pem
**/.env
**/*.env
.ssh/
.gnupg/


# Manual ignores
.config/zsh/.zcompdump-wirerider-5.9*
.config/kde.org/*
.config/dconf/
.config/go/
.config/baloofileinformationrc
.config/filetypesrc
.config/session
.config/trashrc
.config/kwalletrc
.config/QtProject.conf
.config/pulse
.config/systemd
.config/zsh/ohmyzsh
.config/zsh/.oh-my-zsh
.config/joplin-desktop/
.config/GIMP/
.config/BraveSoftware
